# Node.js dependencies
/cnn application/frontend/node_modules

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dataset and model-related directories
/dataset
/model inference/valid/
/model inference/train/
/model inference/test/
/model inference/Split_Dataset/
/model inference/dataset/
/model inference/combined_dataset/

/models
